h1 {
    text-align: center;
}

#contacts {
    text-align: center;
}

h3 {
    text-align: center;
}

#summary {
    text-align: center;
}

#certifications {
    text-align: center;
}

#certifications li {
    list-style-type: none;
}